
*.dll
*.dll
*.dll
AppEventos/.vs/AppEventos/config/applicationhost.config
AppEventos/.vs/AppEventos/v16/.suo
AppEventos/AppEventos/bin/AppEventos.dll
AppEventos/AppEventos/bin/AppEventos.pdb
AppEventos/AppEventos/obj/Debug/AppEventos.csproj.CoreCompileInputs.cache
AppEventos/AppEventos/obj/Debug/AppEventos.csproj.FileListAbsolute.txt
AppEventos/AppEventos/obj/Debug/AppEventos.csprojAssemblyReference.cache
AppEventos/AppEventos/obj/Debug/AppEventos.dll
AppEventos/AppEventos/obj/Debug/AppEventos.pdb
AppEventos/AppEventos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppEventos/.vs/AppEventos/config/applicationhost.config
AppEventos/.vs/AppEventos/v16/.suo
AppEventos/AppEventos/bin/AppEventos.dll
AppEventos/AppEventos/bin/AppEventos.pdb
AppEventos/AppEventos/obj/Debug/AppEventos.csproj.CoreCompileInputs.cache
AppEventos/AppEventos/obj/Debug/AppEventos.csproj.FileListAbsolute.txt
AppEventos/AppEventos/obj/Debug/AppEventos.csprojAssemblyReference.cache
AppEventos/AppEventos/obj/Debug/AppEventos.dll
AppEventos/AppEventos/obj/Debug/AppEventos.pdb
AppEventos/AppEventos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppEventos/.vs/AppEventos/config/applicationhost.config
AppEventos/.vs/AppEventos/v16/.suo
AppEventos/AppEventos/app.config
AppEventos/AppEventos/AppEventos.csproj
AppEventos/AppEventos/AppEventos.csproj.user
AppEventos/AppEventos/bin/AppEventos.dll
AppEventos/AppEventos/bin/AppEventos.dll.config
AppEventos/AppEventos/bin/AppEventos.pdb
AppEventos/AppEventos/bin/Newtonsoft.Json.dll
AppEventos/AppEventos/bin/Newtonsoft.Json.xml
AppEventos/AppEventos/bin/System.Collections.Immutable.dll
AppEventos/AppEventos/bin/System.Collections.Immutable.xml
AppEventos/AppEventos/bin/System.Diagnostics.DiagnosticSource.xml
AppEventos/AppEventos/bin/System.Memory.xml
AppEventos/AppEventos/bin/System.Numerics.Vectors.dll
AppEventos/AppEventos/bin/System.Numerics.Vectors.xml
AppEventos/AppEventos/Content/bootstrap-grid.css
AppEventos/AppEventos/Content/bootstrap-grid.min.css
AppEventos/AppEventos/Content/bootstrap-reboot.css
AppEventos/AppEventos/Content/bootstrap-reboot.min.css
AppEventos/AppEventos/Content/bootstrap.css
AppEventos/AppEventos/Content/bootstrap.min.css
AppEventos/AppEventos/obj/Debug/AppEventos.csproj.CoreCompileInputs.cache
AppEventos/AppEventos/obj/Debug/AppEventos.csproj.FileListAbsolute.txt
AppEventos/AppEventos/obj/Debug/AppEventos.csprojAssemblyReference.cache
AppEventos/AppEventos/obj/Debug/AppEventos.dll
AppEventos/AppEventos/obj/Debug/AppEventos.pdb
AppEventos/AppEventos/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AppEventos/AppEventos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppEventos/AppEventos/packages.config
AppEventos/AppEventos/Scripts/bootstrap.bundle.js
AppEventos/AppEventos/Scripts/bootstrap.bundle.min.js
AppEventos/AppEventos/Scripts/bootstrap.js
AppEventos/AppEventos/Scripts/bootstrap.min.js
AppEventos/AppEventos/Scripts/esm/popper-utils.js
AppEventos/AppEventos/Scripts/esm/popper-utils.min.js
AppEventos/AppEventos/Scripts/esm/popper.js
AppEventos/AppEventos/Scripts/esm/popper.min.js
AppEventos/AppEventos/Scripts/index.d.ts
AppEventos/AppEventos/Scripts/index.js.flow
AppEventos/AppEventos/Scripts/jquery-3.5.1.js
AppEventos/AppEventos/Scripts/jquery-3.5.1.min.js
AppEventos/AppEventos/Scripts/jquery-3.5.1.slim.js
AppEventos/AppEventos/Scripts/jquery-3.5.1.slim.min.js
AppEventos/AppEventos/Scripts/jquery.validate.js
AppEventos/AppEventos/Scripts/jquery.validate.min.js
AppEventos/AppEventos/Scripts/jquery.validate.unobtrusive.js
AppEventos/AppEventos/Scripts/modernizr-2.8.3.js
AppEventos/AppEventos/Scripts/popper-utils.js
AppEventos/AppEventos/Scripts/popper-utils.min.js
AppEventos/AppEventos/Scripts/popper.js
AppEventos/AppEventos/Scripts/popper.min.js
AppEventos/AppEventos/Scripts/README.md
AppEventos/AppEventos/Scripts/src/index.js
AppEventos/AppEventos/Scripts/src/methods/defaults.js
AppEventos/AppEventos/Scripts/src/methods/destroy.js
AppEventos/AppEventos/Scripts/src/methods/disableEventListeners.js
AppEventos/AppEventos/Scripts/src/methods/enableEventListeners.js
AppEventos/AppEventos/Scripts/src/methods/placements.js
AppEventos/AppEventos/Scripts/src/methods/update.js
AppEventos/AppEventos/Scripts/src/modifiers/applyStyle.js
AppEventos/AppEventos/Scripts/src/modifiers/arrow.js
AppEventos/AppEventos/Scripts/src/modifiers/computeStyle.js
AppEventos/AppEventos/Scripts/src/modifiers/flip.js
AppEventos/AppEventos/Scripts/src/modifiers/hide.js
AppEventos/AppEventos/Scripts/src/modifiers/index.js
AppEventos/AppEventos/Scripts/src/modifiers/inner.js
AppEventos/AppEventos/Scripts/src/modifiers/keepTogether.js
AppEventos/AppEventos/Scripts/src/modifiers/offset.js
AppEventos/AppEventos/Scripts/src/modifiers/preventOverflow.js
AppEventos/AppEventos/Scripts/src/modifiers/shift.js
AppEventos/AppEventos/Scripts/src/utils/clockwise.js
AppEventos/AppEventos/Scripts/src/utils/computeAutoPlacement.js
AppEventos/AppEventos/Scripts/src/utils/debounce.js
AppEventos/AppEventos/Scripts/src/utils/find.js
AppEventos/AppEventos/Scripts/src/utils/findCommonOffsetParent.js
AppEventos/AppEventos/Scripts/src/utils/findIndex.js
AppEventos/AppEventos/Scripts/src/utils/getBordersSize.js
AppEventos/AppEventos/Scripts/src/utils/getBoundaries.js
AppEventos/AppEventos/Scripts/src/utils/getBoundingClientRect.js
AppEventos/AppEventos/Scripts/src/utils/getClientRect.js
AppEventos/AppEventos/Scripts/src/utils/getFixedPositionOffsetParent.js
AppEventos/AppEventos/Scripts/src/utils/getOffsetParent.js
AppEventos/AppEventos/Scripts/src/utils/getOffsetRect.js
AppEventos/AppEventos/Scripts/src/utils/getOffsetRectRelativeToArbitraryNode.js
AppEventos/AppEventos/Scripts/src/utils/getOppositePlacement.js
AppEventos/AppEventos/Scripts/src/utils/getOppositeVariation.js
AppEventos/AppEventos/Scripts/src/utils/getOuterSizes.js
AppEventos/AppEventos/Scripts/src/utils/getParentNode.js
AppEventos/AppEventos/Scripts/src/utils/getPopperOffsets.js
AppEventos/AppEventos/Scripts/src/utils/getReferenceNode.js
AppEventos/AppEventos/Scripts/src/utils/getReferenceOffsets.js
AppEventos/AppEventos/Scripts/src/utils/getRoot.js
AppEventos/AppEventos/Scripts/src/utils/getRoundedOffsets.js
AppEventos/AppEventos/Scripts/src/utils/getScroll.js
AppEventos/AppEventos/Scripts/src/utils/getScrollParent.js
AppEventos/AppEventos/Scripts/src/utils/getStyleComputedProperty.js
AppEventos/AppEventos/Scripts/src/utils/getSupportedPropertyName.js
AppEventos/AppEventos/Scripts/src/utils/getViewportOffsetRectRelativeToArtbitraryNode.js
AppEventos/AppEventos/Scripts/src/utils/getWindow.js
AppEventos/AppEventos/Scripts/src/utils/getWindowSizes.js
AppEventos/AppEventos/Scripts/src/utils/includeScroll.js
AppEventos/AppEventos/Scripts/src/utils/index.js
AppEventos/AppEventos/Scripts/src/utils/isBrowser.js
AppEventos/AppEventos/Scripts/src/utils/isFixed.js
AppEventos/AppEventos/Scripts/src/utils/isFunction.js
AppEventos/AppEventos/Scripts/src/utils/isIE.js
AppEventos/AppEventos/Scripts/src/utils/isModifierEnabled.js
AppEventos/AppEventos/Scripts/src/utils/isModifierRequired.js
AppEventos/AppEventos/Scripts/src/utils/isNumeric.js
AppEventos/AppEventos/Scripts/src/utils/isOffsetContainer.js
AppEventos/AppEventos/Scripts/src/utils/removeEventListeners.js
AppEventos/AppEventos/Scripts/src/utils/runModifiers.js
AppEventos/AppEventos/Scripts/src/utils/setAttributes.js
AppEventos/AppEventos/Scripts/src/utils/setStyles.js
AppEventos/AppEventos/Scripts/src/utils/setupEventListeners.js
AppEventos/AppEventos/Scripts/umd/popper-utils.js
AppEventos/AppEventos/Scripts/umd/popper-utils.min.js
AppEventos/AppEventos/Scripts/umd/popper.js
AppEventos/AppEventos/Scripts/umd/popper.js.flow
AppEventos/AppEventos/Scripts/umd/popper.min.js
AppEventos/AppEventos/Web.config
AppEventos/packages/BouncyCastle.1.8.6.1/.signature.p7s
AppEventos/packages/BouncyCastle.1.8.6.1/BouncyCastle.1.8.6.1.nupkg
AppEventos/packages/BouncyCastle.1.8.6.1/README.md
AppEventos/packages/Microsoft.Extensions.Caching.Memory.3.1.1/.signature.p7s
AppEventos/packages/Microsoft.Extensions.Caching.Memory.3.1.1/Icon.png
AppEventos/packages/Microsoft.Extensions.Caching.Memory.3.1.1/lib/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.xml
AppEventos/packages/Microsoft.Extensions.Caching.Memory.3.1.1/lib/netstandard2.0/Microsoft.Extensions.Caching.Memory.xml
AppEventos/packages/Microsoft.Extensions.Caching.Memory.3.1.1/Microsoft.Extensions.Caching.Memory.3.1.1.nupkg
AppEventos/packages/MySql.Data.EntityFramework.8.0.21/content/app.config.transform
AppEventos/packages/MySql.Data.EntityFramework.8.0.21/content/web.config.transform
AppEventos/packages/MySql.Data.EntityFramework.8.0.21/contentFiles/any/net452/app.config.transform
AppEventos/packages/MySql.Data.EntityFramework.8.0.21/contentFiles/any/net452/web.config.transform
AppEventos/AppEventos/Scripts/umd/popper-utils.min.js
AppEventos/AppEventos/Scripts/umd/popper-utils.js
AppEventos/AppEventos/Scripts/src/utils/setupEventListeners.js
AppEventos/AppEventos/Scripts/src/utils/setStyles.js
AppEventos/AppEventos/Scripts/src/utils/setAttributes.js
AppEventos/AppEventos/Scripts/src/utils/runModifiers.js
AppEventos/AppEventos/Scripts/src/utils/removeEventListeners.js
AppEventos/AppEventos/Scripts/src/utils/isOffsetContainer.js
AppEventos/AppEventos/Scripts/src/utils/isNumeric.js
AppEventos/AppEventos/Scripts/src/utils/isModifierRequired.js
AppEventos/AppEventos/Scripts/src/utils/isModifierEnabled.js
AppEventos/AppEventos/Scripts/src/utils/isIE.js
AppEventos/AppEventos/Scripts/src/utils/isFunction.js
AppEventos/AppEventos/Scripts/src/utils/isFixed.js
AppEventos/AppEventos/Scripts/src/utils/isBrowser.js
AppEventos/AppEventos/Scripts/src/utils/index.js
AppEventos/AppEventos/Scripts/src/utils/includeScroll.js
AppEventos/AppEventos/Scripts/src/utils/getWindowSizes.js
AppEventos/AppEventos/Scripts/src/utils/getWindow.js
AppEventos/AppEventos/Scripts/src/utils/getViewportOffsetRectRelativeToArtbitraryNode.js
AppEventos/AppEventos/Scripts/src/utils/getSupportedPropertyName.js
AppEventos/AppEventos/Scripts/src/utils/getStyleComputedProperty.js
AppEventos/AppEventos/Scripts/src/utils/getScrollParent.js
AppEventos/AppEventos/Scripts/src/utils/getScroll.js
AppEventos/AppEventos/Scripts/src/utils/getRoundedOffsets.js
AppEventos/AppEventos/Scripts/src/utils/getRoot.js
AppEventos/AppEventos/Scripts/src/utils/getReferenceOffsets.js
AppEventos/AppEventos/Scripts/src/utils/getReferenceNode.js
AppEventos/AppEventos/Scripts/src/utils/getPopperOffsets.js
AppEventos/AppEventos/Scripts/src/utils/getParentNode.js
AppEventos/AppEventos/Scripts/src/utils/getOuterSizes.js
AppEventos/AppEventos/Scripts/src/utils/getOppositeVariation.js
AppEventos/AppEventos/Scripts/src/utils/getOppositePlacement.js
AppEventos/AppEventos/Scripts/src/utils/getOffsetRectRelativeToArbitraryNode.js
AppEventos/AppEventos/Scripts/src/utils/getOffsetRect.js
AppEventos/AppEventos/Scripts/src/utils/getOffsetParent.js
AppEventos/AppEventos/Scripts/src/utils/getFixedPositionOffsetParent.js
AppEventos/AppEventos/Scripts/src/utils/getClientRect.js
AppEventos/AppEventos/Scripts/src/utils/getBoundingClientRect.js
AppEventos/AppEventos/Scripts/src/utils/getBoundaries.js
AppEventos/AppEventos/Scripts/src/utils/getBordersSize.js
AppEventos/AppEventos/Scripts/src/utils/findIndex.js
AppEventos/AppEventos/Scripts/src/utils/findCommonOffsetParent.js
AppEventos/AppEventos/Scripts/src/utils/find.js
AppEventos/AppEventos/Scripts/src/utils/debounce.js
AppEventos/AppEventos/Scripts/src/utils/computeAutoPlacement.js
AppEventos/AppEventos/Scripts/src/utils/clockwise.js
AppEventos/AppEventos/Scripts/src/modifiers/shift.js
AppEventos/AppEventos/Scripts/src/modifiers/preventOverflow.js
AppEventos/AppEventos/Scripts/src/modifiers/offset.js
AppEventos/AppEventos/Scripts/src/modifiers/keepTogether.js
AppEventos/AppEventos/Scripts/src/modifiers/inner.js
AppEventos/AppEventos/Scripts/src/modifiers/index.js
AppEventos/AppEventos/Scripts/src/modifiers/hide.js
AppEventos/AppEventos/Scripts/src/modifiers/flip.js
AppEventos/AppEventos/Scripts/src/modifiers/computeStyle.js
AppEventos/AppEventos/Scripts/src/modifiers/arrow.js
AppEventos/AppEventos/Scripts/src/modifiers/applyStyle.js
AppEventos/AppEventos/Scripts/src/methods/update.js
AppEventos/AppEventos/Scripts/src/methods/placements.js
AppEventos/AppEventos/Scripts/src/methods/enableEventListeners.js
AppEventos/AppEventos/Scripts/src/methods/disableEventListeners.js
AppEventos/AppEventos/Scripts/src/methods/destroy.js
AppEventos/AppEventos/Scripts/src/methods/defaults.js
AppEventos/AppEventos/Scripts/src/index.js
AppEventos/AppEventos/Scripts/README.md
AppEventos/AppEventos/Scripts/popper.min.js
AppEventos/AppEventos/Scripts/popper.js
AppEventos/AppEventos/Scripts/popper-utils.min.js
AppEventos/AppEventos/Scripts/popper-utils.js
AppEventos/AppEventos/Scripts/modernizr-2.8.3.js
AppEventos/AppEventos/Scripts/jquery.validate.unobtrusive.js
AppEventos/AppEventos/Scripts/jquery.validate.min.js
AppEventos/AppEventos/Scripts/jquery.validate.js
AppEventos/AppEventos/Scripts/jquery-3.5.1.slim.min.js
AppEventos/AppEventos/Scripts/jquery-3.5.1.slim.js
AppEventos/AppEventos/Scripts/jquery-3.5.1.min.js
AppEventos/AppEventos/Scripts/jquery-3.5.1.js
AppEventos/AppEventos/Scripts/index.js.flow
AppEventos/AppEventos/Scripts/index.d.ts
AppEventos/AppEventos/Scripts/esm/popper.min.js
AppEventos/AppEventos/Scripts/esm/popper.js
AppEventos/AppEventos/Scripts/esm/popper-utils.min.js
AppEventos/AppEventos/Scripts/esm/popper-utils.js
AppEventos/AppEventos/Scripts/bootstrap.min.js
AppEventos/AppEventos/Scripts/bootstrap.js
AppEventos/AppEventos/Scripts/bootstrap.bundle.min.js
AppEventos/AppEventos/Scripts/bootstrap.bundle.js
AppEventos/AppEventos/packages.config
AppEventos/AppEventos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppEventos/AppEventos/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AppEventos/AppEventos/obj/Debug/AppEventos.pdb
AppEventos/AppEventos/obj/Debug/AppEventos.dll
AppEventos/AppEventos/obj/Debug/AppEventos.csprojAssemblyReference.cache
AppEventos/AppEventos/obj/Debug/AppEventos.csproj.FileListAbsolute.txt
AppEventos/AppEventos/obj/Debug/AppEventos.csproj.CoreCompileInputs.cache
AppEventos/AppEventos/Content/bootstrap.min.css
AppEventos/AppEventos/Content/bootstrap.css
AppEventos/AppEventos/Content/bootstrap-reboot.min.css
AppEventos/AppEventos/Content/bootstrap-reboot.css
AppEventos/AppEventos/Content/bootstrap-grid.min.css
AppEventos/AppEventos/Content/bootstrap-grid.css
AppEventos/AppEventos/bin/System.Numerics.Vectors.xml
AppEventos/AppEventos/bin/System.Numerics.Vectors.dll
AppEventos/AppEventos/bin/System.Memory.xml
AppEventos/AppEventos/bin/System.Diagnostics.DiagnosticSource.xml
AppEventos/AppEventos/bin/System.Collections.Immutable.xml
AppEventos/AppEventos/bin/System.Collections.Immutable.dll
AppEventos/AppEventos/bin/Newtonsoft.Json.xml
AppEventos/AppEventos/bin/Newtonsoft.Json.dll
AppEventos/AppEventos/bin/AppEventos.pdb
AppEventos/AppEventos/bin/AppEventos.dll.config
AppEventos/AppEventos/bin/AppEventos.dll
AppEventos/AppEventos/AppEventos.csproj.user
AppEventos/AppEventos/AppEventos.csproj
AppEventos/AppEventos/app.config
AppEventos/.vs/AppEventos/v16/.suo
AppEventos/.vs/AppEventos/config/applicationhost.config
AppEventos/AppEventos/Scripts/umd/popper.js
AppEventos/AppEventos/Scripts/umd/popper.js.flow
AppEventos/AppEventos/Scripts/umd/popper.min.js
AppEventos/AppEventos/Web.config
AppEventos/packages/Microsoft.Extensions.Caching.Memory.3.1.1/.signature.p7s
AppEventos/packages/Microsoft.Extensions.Caching.Memory.3.1.1/Icon.png
AppEventos/packages/Microsoft.Extensions.Caching.Memory.3.1.1/lib/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.xml
AppEventos/packages/Microsoft.Extensions.Caching.Memory.3.1.1/lib/netstandard2.0/Microsoft.Extensions.Caching.Memory.xml
AppEventos/packages/Microsoft.Extensions.Caching.Memory.3.1.1/Microsoft.Extensions.Caching.Memory.3.1.1.nupkg
AppEventos/packages/MySql.Data.EntityFramework.8.0.21/content/app.config.transform
AppEventos/packages/MySql.Data.EntityFramework.8.0.21/content/web.config.transform
AppEventos/packages/MySql.Data.EntityFramework.8.0.21/contentFiles/any/net452/app.config.transform
AppEventos/packages/MySql.Data.EntityFramework.8.0.21/contentFiles/any/net452/web.config.transform
AppEventos/.vs/AppEventos/config/applicationhost.config
AppEventos/.vs/AppEventos/v16/.suo
AppEventos/AppEventos/app.config
AppEventos/AppEventos/AppEventos.csproj
AppEventos/AppEventos/AppEventos.csproj.user
AppEventos/AppEventos/bin/AppEventos.dll
AppEventos/AppEventos/bin/AppEventos.dll.config
AppEventos/AppEventos/bin/AppEventos.pdb
AppEventos/AppEventos/bin/MySql.Data.EntityFrameworkCore.xml
AppEventos/AppEventos/bin/MySql.Web.xml
AppEventos/AppEventos/bin/Newtonsoft.Json.dll
AppEventos/AppEventos/bin/Newtonsoft.Json.xml
AppEventos/AppEventos/bin/System.Collections.Immutable.dll
AppEventos/AppEventos/bin/System.Collections.Immutable.xml
AppEventos/AppEventos/bin/System.Diagnostics.DiagnosticSource.xml
