
@{
    ViewBag.Title = "AltaVendedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>AltaVendedor</h2>
    
    <h6>Para darte de alta de vendedor vamos a pedirte una pequeña descripción tuya contando tu trayectoria y lo que ofreces.</h6>

    <form method="post">
        <input name="Descripcion" />
        <input type="submit" />
    </form>
</div>



