
@{
    ViewBag.Title = "CrearEvento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="layout">
    <h2>CREAR EVENTO!</h2>
    <form action="CrearEvento" method="post">
        <div class="form-group">
            <label for="tituloinput">Titulo del evento</label>
            <input name="Titulo" type="text" required class="form-control centeredForm" id="tituloinput" placeholder="'Clases de Guitarra con Jorge Fleire.'">
        </div>
        <div class="form-group">
            <label for="resumenInput">Resumen</label>
            <textarea name="Resumen" type="text" required class="form-control centeredForm" id="resumenInput" maxlength="60"></textarea>
            <small class="form-text text-muted">Maximo 60 caracteres.</small>
        </div>
        <div class="form-group">
            <label for="DescripcionInput">Descripcion</label>
            <textarea name="Descripcion" type="text" required class="form-control centeredForm" id="DescripcionInput" maxlength="250"></textarea>
            <small class="form-text text-muted">Maximo 250 caracteres.</small>
        </div>
        <div class="form-group">
            <label for="topeInput">Tope de Gente</label>
            <input name="TopeGente" type="number" class="form-control centeredForm" id="topeInput">
            <small class="form-text text-muted">En caso de no tener limite de invitados ignore este campo.</small>
        </div>
        <div class="form-check">
            <input name="Online" type="checkbox" class="form-check-input" id="onlineCheck">
            <label class="form-check-label" for="onlineCheck">Evento Online</label>
        </div>
        <div class="form-group">
            <label for="fechadesde">Fecha Desde</label>
            <input name="FechaDesde" type="date" class="form-control centeredForm" id="fechadesde">
        </div>
        <div class="form-group">
            <label for="fechahasta">Fecha Hasta</label>
            <input name="FechaHasta" type="date" class="form-control centeredForm" id="fechahasta">
        </div>
        <div class="form-group">
            <label for="ubicacioninput">Ubicacion</label>
            <input name="Ubicacion" type="text" required class="form-control centeredForm" id="ubicacioninput" placeholder="Buenos Aires, Capital Federal.">
        </div>
        <div class="form-group">
            <label for="imagenportada">Imagen de Portada</label>
            <input type="file" class="form-control-file" id="imagenportada" name="ImagenPortada">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<style>
    #formEvento {
        text-align:center;
    }
    .centeredForm {
        margin: auto;
        max-width: 500px;
    }
</style>